<div id="top-row" class="ui oneth right blue">
  <ras-option class="sixth ui border" id="select-adv-countper-site-cb">select adv coiunt</ras-option>
  <ras-option class="sixth ui border" id="select-board-cb">select board</ras-option>
</div>

<div>
  <div class="ui fifth container border">
    <ras-element-list [elements]="elements"></ras-element-list>
  </div>
  <div id="right big wrapper" class="ui">
    <div id="pictures and spacer wrapper">
      <div id="left inner innerspacer" class="ui tenth"></div>
      <div id="inner center wrapper" class="eighty ui">
        <div id="inner inner top spacer"></div>
        <div id="inner elementliostwrapper">
          <ras-element-list [elements]="elements"></ras-element-list>
        </div>
        <div id="inner inner footer" style="height: 10px"></div>
      </div>
      <div id="right inner inner spacer" class="ui tenth"></div>
    </div>
    <div id="general footer" class="oneth">
      footer
    </div>
  </div>
</div>


<button (click)="onStartHostDetection($event)">start detection</button>
<button (click)="onStopHostDetection($event)">stop detection</button>

<!--

<h1>Edit board component</h1>
<div class="element-list-wrapper">
<ras-element-list [elements]="elements">
</ras-element-list>
<button (click)="onStartHostDetection($event)">start detection</button>
<button (click)="onStopHostDetection($event)">stop detection</button>
</div>
-->
