<button (click)="onSaveElements($event)">saveElements()</button>
<button (click)="onGetElements($event)">getElements()</button>
<br/>
<br/>

<div class="row blue">
  <div class="four"></div>
  <ras-option class="two border">select adv coiunt</ras-option>
  <ras-option class="two border">select board</ras-option>
</div>

<div class="row">

  <div class="two container border">
    <ras-element-list [element]="getFirstListEl()" [isDragDropEnabled]="true"></ras-element-list>
  </div>

  <div class="six">
    <div class="one"></div>

    <div class="six">
      <div></div>
      <div>
        <ras-element-list [element]="getSecondListEl()" [isDragDropEnabled]="true"></ras-element-list>
      </div>
      <div> </div>
    </div>
    <div class="one"></div>
    <div class="row">
        footer
        <div class="five"></div>
        <div class="three">
          <ras-navigation></ras-navigation>
        </div>
      </div>
  </div>

  
  
</div>

<!--

<h1>Edit board component</h1>
<div class="element-list-wrapper">
<ras-element-list [elements]="elements">
</ras-element-list>
<button (click)="onStartHostDetection($event)">start detection</button>
<button (click)="onStopHostDetection($event)">stop detection</button>
</div>
-->