<button (click)="onStartHostDetection($event)">start detection</button>
<button (click)="onStopHostDetection($event)">stop detection</button>
<br/>
<button (click)="onStartGetElements($event)">start getElements</button>
<button (click)="onStartGetBoards($event)">start GEtboards</button>

<div id="top-row" class="row blue">
  <div class="four"></div>
  <ras-option class="two border" id="select-adv-countper-site-cb">select adv coiunt</ras-option>
  <ras-option class="two border" id="select-board-cb">select board</ras-option>
</div>

<div class="row">

  <div class="two container border">
    <ras-element-list [elements]="elements" class="ui"></ras-element-list>
  </div>

  <div class="six">
    <div class="one"></div>

    <div id="inner center wrapper" class="six">
      <div id="inner inner top spacer"></div>
      <div id="inner elementliostwrapper">
        <ras-element-list [elements]="elements"></ras-element-list>
      </div>
      <div id="inner inner footer"></div>
    </div>
    <div class="one"></div>
    <div id="general footer" class="row">
        footer
        <div class="five"></div>
        <div class="three">
          <ras-navigation></ras-navigation>
        </div>
      </div>
  </div>

  
  
</div>




<!--

<h1>Edit board component</h1>
<div class="element-list-wrapper">
<ras-element-list [elements]="elements">
</ras-element-list>
<button (click)="onStartHostDetection($event)">start detection</button>
<button (click)="onStopHostDetection($event)">stop detection</button>
</div>
-->