

.row {
  display: flex;
}

.eight {
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.one {
  width: 12.5%;
}

.two {
  width: 25%;
}

.three {
  width: 37.5%;
}
.four {
  width: 50%;
}

.five {
  width: 62.5%;
}

.six {
  width: 75%;
}

.seven {
  width: 87.5%;
}

.border {
  border: solid black 0.5px;
}

.right {
  align-self: right;
}

.blue {
  background-color: blue;
}

.container {
  padding: 5px;
}


